
#root {
  display: grid;
  height: 100vh;
  font-family: system-ui, sans-serif;
  grid-template: auto 1fr  / 250px 1fr
}

header {
  background: lightpink;
  padding: 2rem;
  grid-column: 1 / 3;
}

main {
  background: whitesmoke;
  grid-column: 2 / 3;
}

.left-sidebar {
  background: whitesmoke;
  grid-area: 2/1;
  padding: 1rem;
}

ul{
  list-style: none;
}

li{
  border: .2rem solid lightgray;
  margin: .2rem;
}

nav>*{
display: block;
padding: 1rem;
}

.active{
  background-color: aqua;
}


@media screen and (max-width: 800px){
  .left-sidebar {
    background: whitesmoke;
    grid-area: 2/2;
    padding: 1rem;
  }


  #root {
    display: grid;
    height: 100vh;
    font-family: system-ui, sans-serif;
    grid-template: auto 1fr  / 250px 1fr
  }

}
